.dropbtn {
  border: none;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 54px;
  background-color: red;
}

.dropdown-content a {
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
}
