* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  margin: 0px 30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.logo {
  padding: 10px;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.5;
}
.menu {
  display: flex;
}
.menu-item {
  cursor: pointer;
  padding: 10px 10px;
  border-bottom: 2px solid white;
}
.menu-item:hover {
  border-bottom: 2px solid black;
}
.box-search {
  display: flex;
  padding: 10px 0px;
}
.search-btn {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 5px;
  left: 10px;
}
.search-input {
  border-radius: 45px;
  padding: 5px 5px 5px 40px;
  border: none;
  background-color: #ecf0f1;
  max-width: 150px;
}
.icon {
  display: flex;
  margin-left: 30px;
  gap: 30px;
}
